html, 
body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.0625em 1.5em 1.125em 1.25em;
}

.site-logo {
    width: 23.16px;
    height: 23.16px;
    margin-right: 4.6px;
}

.site-name {
    font: 700 0.847rem / 1.08 "Roboto", sans-serif; 
    letter-spacing: -0.03;
    color: #0E0E0E;
}

nav a {
    text-decoration: none;
    color: #090909;
}

nav {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: auto;
}

nav ul {
    display: flex;
    gap: 2.25em;
    list-style: none;
    margin: 0 auto;
}

@media (min-width: 512px) {
    .site-logo {
        width: 34.25px;
        height: 34.25px;
        margin-right: 4.6px;
    }   

    .site-name {
        font-size: 1.25rem;
        letter-spacing: -0.03;
        color: #0E0E0E;
    }

    nav {
        font-size: 1rem;
        font-weight: 600;
    }

    header {
        padding: 1.5em 3.3215em;
    }
} 

/* Hero section */
.hero-post {
    background: #090909 url('/images/main-image-mirrored.jpg') center bottom / cover no-repeat;
    padding: 5.4375em 1.25em 1.5625em;
}

.hero-date {
    font-size: 0.75rem;
    font-weight: 400;
    display: block;
    margin-bottom: 0.666em;
}

.hero-title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0 0 0.25em;
}

.hero-preview {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0;
    margin: 0;
}

@media (min-width: 512px) {
    .hero-date {
        font-size: 1rem;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-preview {
        font-size: 1rem;
        max-width: 615px;
    }

    .hero-post {
        padding: 18em 3.3125em 3.6875em;
        background-position: center 80%;
    }
}

/* Blog-posts section */
.blogs-grid {
    display: grid;
    padding: 2.125em 1.25em;
    /*grid-template-columns: 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 41px;
}

.blog-post {
    color: #141414
}

.blog-post-image {
    box-sizing: border-box;
    width: 100%;
    object-fit: cover; 
    object-position: 0 60%;
    aspect-ratio: 374 / 232; 
    margin-bottom: 0.875em;    
}

.blog-post-date {
    display: block;
    font-size: 0.88rem;
    font-weight: 400;
    color: black;
    margin-bottom: 0.6392em;
    text-transform: uppercase;
}

.blog-post-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 0.375em;

}

.blog-post-preview {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
}


.blog-post:hover {
    opacity: 0.8;
    cursor: pointer;
}

.blog-link {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 512px) {
    .blogs-grid {
        padding-left: 3.3215em;
        padding-right: 3.3215em;
    }
}

/* fixes an issue for very small widths */
@media (max-width: 340px) {
    .blogs-grid {
        grid-template-columns: 1fr;
    }
    header {
        flex-direction: column;
    }

    nav {
        margin-right: auto;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        gap: 0;
        padding: 0;
        text-align: center;
    }
}

/* footer */
footer {
    background: #202020;
    width: 100%;
    text-align: center;
    padding: 37px 0;
    margin: 0;
}

.footer-title {
    color: #ECECEC;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.08;
    margin: 0;
    padding: 0;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    color: #D7D7D7;
}

/* main post */
.main-post {
    color: #151515;
    margin: 0;
    padding: 2em 1.25em 3.1875em;
}

.main-post time {
    display: block;
    font-size: 0.88rem;
    font-weight: 400;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.main-post h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0 0 0.5em;
}

.main-post h3 {
    font-size: 1rem;
}

.main-post img {
    width: 100%;
    display: block;
    aspect-ratio: 374 / 191; /* Defines the frame's shape */
    object-fit: cover;      /* Clips the image to fill the frame */

    /* THIS IS THE KEY: Control which part of the image is shown.
      'top', 'center', 'bottom' for vertical.
      'left', 'center', 'right' for horizontal.
      Or use percentages for fine control (e.g., 75% 50%).
    */
    object-position: 0 70%;
}

.image-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.1875em;
  }


h4 {
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

@media (min-width: 1084px) {
    .main-post {
    padding: 4.4375em 7.5625em 4.5625em;
    font-size: 1.143rem;
    max-width: 1045px;
    margin: 0 auto;
    }

   .image-wrapper {
        /* Extend into the padding area while staying centered */
        width: calc(100% + 8.5em); /* Add back the negative margins: 4.25em × 2 = 8.5em */
        margin-left: -4.25em;      /* 7.5625em - 3.3125em = 4.25em */
        margin-right: -4.25em;     /* 7.5625em - 3.3125em = 4.25em */
        margin-bottom: 2.1875em;
    }

    .main-post time {
        font-size: 1rem;
        margin-bottom: 1.5em;
    }

    .main-post h2 {
        font-size: 2.25rem;
        margin-bottom: 0.75em;
    }

    .main-post-intro {
        margin-bottom: 2.25em;
    }

    .main-post h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }

}


/* about me page */

#about-me-img {
    width: 182px;
    aspect-ratio: auto;
    margin-top: 0;
    margin-bottom: 1.6875em;
}

.main-post .about-me-h2 {
    font-size: 2.1775rem;
    line-height: 1.08;
    letter-spacing: -1.03;
    margin-bottom: 0.459em;
}

.about-me-main-post-intro {
    margin-bottom: 3.125em;
}